:root {
  --alice-blue: #f0f8ff;
  --mine-shaft: #2b2626;
  --dusty-gray: #979797;
  --thunder: #352a2a;
  --white: #ffffff;
  --bright_turquoise: #12c2e9;
  --lavender: #c471ed;
  --carnation: #f64f59;
  --chambray: #3B5998;
  --picton-blue: #55ACEE;
  --punch: #dd4b39;
  --mine-shaft-approx: #242020
}

body {
  background-image: url('../img/bg.jpg');
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Verdana;
}

.container {
  width: 500px;
  height: 850px;
  background-color: var(--alice-blue);
  margin: 0 auto;
  border-radius: 12px;
}

.container h1 {
  text-align: center;
  padding: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: var(--mine-shaft);
}

input[type="text"],
input[type="password"] {
  width: 350px;
  height: 40px;
  background-color: var(--alice-blue);
  border: none;
  border-bottom: 1px solid var(--dusty-gray);
  padding-left: 30px;
  transition: border-bottom 500ms ease-in-out;
}

input[type="text"]:focus-within,
input[type="password"]:focus-within {
  border-bottom: 2px solid var(--thunder);
}

.container .input {
  padding: 0px 55px;
}

.container .input::before,
.container .input:nth-child(2):before {
  font-family: "FontAwesome";
  position: absolute;
  font-size: 20px;
  color: var(--dusty-gray);
}

.container .input::before {
  content: "\f2bd";
  padding: 35px 0px;
}

.container .input:nth-child(2):before {
  content: "\f023";
  padding: 35px 3px;
}

input:focus::-webkit-input-placeholder {
  color:transparent;
  /* rule to make the placeholder disappear when clicked */
  }

.container a {
  display: block;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
  color: var(--dusty-gray);
  margin-bottom: 30px;
}

a.forgot-psw-title {
  padding: 10px 55px 0px 0px;
}

a.login-btn {
  display: block;
  padding: 0px 55px;
  width: 270px;
  height: 50px;
  margin: 0 auto;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  color: var(--white);
  background: linear-gradient( to right,var(--bright_turquoise), var(--lavender), var(--carnation));
  background-size: 250%;
  border: none;
  background-position: right;
  transition: .5s background-position ease-in-out;
}

a.login-btn:hover {
  background-position: left;
}

.container .input:focus-within:before {
color:var(--lavender);
/* the color of the icon turns purple when you enter an input */
}

:active, :hover, :focus {
  outline: none;
  /* when you click on the input, a frame does not appear around */
}

a.forgot-psw-title:hover {
  color: var(--lavender);
}

.sign-up-using-title {
  text-align: center;
  color: var(--dusty-gray);
  font-size: 13px;
  padding-top: 50px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a.fa {
  padding: 15px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
  transition: background-color .5s;
  color: var(--white);
}

.fa-facebook {
  background: var(--chambray);
}

.fa-twitter {
  background: var(--picton-blue);
}

.fa-google {
  background: var(--punch);
}

.fa:hover {
  background-color: var(--mine-shaft);
}

.sign-up-using-title-bottom {
  text-align: center;
  color: var(--dusty-gray);
  font-size: 13px;
  padding-top: 120px;
}

a.sign-up-btn {
  text-transform: uppercase;
  color: var(--mine-shaft-approx);
  text-align: center;
  transition: color 1s;
}

a.sign-up-btn:hover {
  color:var(--lavender);
}
